<launch>
    <arg name="map_file" default="/home/dreamvu/catkin_ws/src/dreamvu_pal_navigation/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node name="depth_scan_node" pkg="dreamvu_pal_navigation" type="multi_publisher" output="screen" />
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
	     <param name="destination_frame" value="pal"/>
	     <param name="scan_destination_topic" value="/dreamvu/pal/odoa/get/scan"/>
	     <param name="laserscan_topics" value ="/dreamvu/pal/odoa/get/scan1 /dreamvu/pal/odoa/get/scan2" /> 
	     <param name="angle_min" value="-3.14"/>
	     <param name="angle_max" value="3.14"/>
	     <param name="range_min" value="0.01"/>
	     <param name="range_max" value="50.0"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-f pal -d $(find dreamvu_pal_navigation)/launch/gmapping_multicam.rviz" output="screen"/>
  
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <remap from="scan" to="/dreamvu/pal/odoa/get/scan"/>
      <param name="odom_model_type" value="diff-corrected"/>
      <param name="odom_alpha1" value="0.002"/>
      <param name="odom_alpha2" value="0.002"/>
      <param name="odom_alpha3" value="0.002"/>
      <param name="odom_alpha4" value="0.002"/>
      <param name="laser_z_hit" value="0.1"/>
      <param name="laser_z_rand" value="0.9"/>
      <param name="transform_tolerance" value="5.0"/>
    </node>
</launch>
