<launch>
 <arg name="map_file" default="/home/dreamvu/catkin_ws/src/dreamvu_pal_navigation/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <node pkg="dreamvu_pal_navigation" type="publisher" name="depth_scan_node"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-f pal -d $(find dreamvu_pal_navigation)/launch/gmapping.rviz" output="screen"/>
        
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <remap from="scan" to="/dreamvu/pal/odoa/get/scan"/>
      <param name="odom_model_type" value="diff-corrected"/>
      <param name="odom_alpha1" value="0.002"/>
      <param name="odom_alpha2" value="0.002"/>
      <param name="odom_alpha3" value="0.002"/>
      <param name="odom_alpha4" value="0.002"/>
      <param name="laser_z_hit" value="0.1"/>
      <param name="laser_z_rand" value="0.9"/>
      <param name="transform_tolerance" value="5.0"/>
    </node>
</launch>
