<launch>
        <node name="depth_scan_node" pkg="dreamvu_pal_navigation" type="multi_publisher" output="screen" />
        
        <node name="rviz" pkg="rviz" type="rviz" args="-f pal -d $(find dreamvu_pal_navigation)/launch/multi_scan.rviz" output="screen"/>
              
      
</launch>        
          
